.basic .menu-big .menu{
 margin-top: 10vh;
}

.entry {
 background-color: white;
}

.navbar {
 background-color: blue
}

.button-default
.button {
 width: 10vw;
 height: 3vh;
 background-color: yellow;
}

.add-dyn {
    background-color: blue;
}

.small .menu{

}